/* Секція Переваги */

.benefits {
    @extend %list;
    display: flex;
}

.benefits__picture {
    display: flex;
    width: 270px;
    height: 120px;
    justify-content: center;
    align-items: center;
    background-color: var(--color-background-second);
    margin-bottom: 30px;
    border-radius: 4px;
}

.benefits__item {
    width: 270px;

}

.benefits__item:not(:last-child) {
    margin-right: 30px;
}

.benefits__subtitle {
    color: var(--color-title);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.benefits__excerpt {
    color: var(--color-primary);
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.03em;
}