.logo {
    display: flex;
    margin-right: 93px;
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #000000;
    text-decoration: none;
}

.logo__word1 {
    font-family: 'Raleway', sans-serif;
    color: var(--color-accent);
}

.logo__word2 {
    color: var(--color-white);
}

.footer-logo {
    margin-bottom: 20px;
}