:root {
    --color-primary: #757575;
    --color-background: #ffffff;
    --color-background-alt: #2F303A;
    --color-background-second: #F5F4FA;
    --color-accent: #2196F3;
    --color-white: #ffffff;
    --color-title: #212121;
    --color-link: #AFB1B8
}